.footer {
  margin-top: 50px;
  padding: 50px 10vw;
  background: #b03131;
}

.footer-title {
  color: #fff;
  font-size: clamp(2.2rem, 3vw, 4rem);
  font-weight: 500;
  letter-spacing: 4px;
}

.footer-wrapper {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  text-align: left;
}

.footer-section {
  margin-right: 50px;
  padding: 8px 30px 20px 0;

  .title {
    margin: 0 0 10px;
    color: #fff;
    font-size: clamp(1.8rem, 2.2vw, 2.4rem);
    font-weight: 100;
    letter-spacing: 3px;
    text-align: left;
  }
}

.footer-list {
  list-style: none;
}

.list-item {
  margin-left: 5px;
  font-size: clamp(1.2rem, 1.5vw, 1.7rem);
  line-height: 1.7;
  letter-spacing: 2px;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright {
  color: #fff;
  font-size: clamp(1.5rem, 2vw, 2rem);
  letter-spacing: 1px;
  text-align: center;

  a {
    color: inherit;
  }

  a:hover {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 1vw;
  }

  .footer-title {
    margin: 0 auto 20px;
    text-align: center;
  }

  .footer-wrapper {
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }

  .footer-section {
    margin: 0 3px;
    padding: 0;
    width: 43%;
    margin-bottom: 20px;
  }

  .copyright {
    margin-top: 20px;
  }
}
