.wrapper {
  font-family: Amiri, serif;
}

.header-title {
  margin: min(80px, 5vw) 0 0;
  font-size: clamp(28px, 6vw, 50px);
  font-weight: 100;
  letter-spacing: 4px;
  text-align: center;
}

.hero-wrapper {
  display: block !important;
  width: max(80%, 324px);
  height: 60vh;
  margin: 40px auto;
  max-width: 1116px;
}

@media (max-width: 768px) {
  .hero-wrapper {
    max-width: none;
    height: 35vh;
  }
}

.section {
  padding-top: 70px;
  width: 90%;
  margin: 60px auto;
}

@media (max-width: 768px) {
  .section {
    padding-top: 30px;
    margin: 30px auto 0;
  }
}

.title {
  color: #444;
  font-weight: 500;
}

.section-title-parent {
  text-align: center;
  margin: 0 auto 20px;
  width: 90%;
}

.section-title {
  position: relative;
  display: inline-block;
  font-size: clamp(30px, 2.6vw, 50px);
  letter-spacing: 5px;
  text-align: center;

  &::before,
  &::after {
    content: "◇";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-color);
    font-size: clamp(20px, 1.8vw, 30px);
  }

  &::before {
    left: -5rem;
  }

  &::after {
    right: -5rem;
  }
}

@media (max-width: 768px) {
  .section-title-parent {
    margin: 0 auto 20px;
  }

  .section-title {
    &::before {
      left: -3rem;
    }

    &::after {
      right: -3rem;
    }
  }
}

.intro {
  margin: 30px auto 0;
  width: 80%;
  display: flex;
  justify-content: center;
}

.intro-text {
  margin: 10px 30px;
  width: 40%;
  font-size: clamp(17px, 1.6vw, 20px);
  letter-spacing: 1px;
  line-height: 1.5;
  text-indent: 0.8rem;
}

@media (max-width: 768px) {
  .intro {
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
  }

  .intro-text {
    width: 95%;
    margin: 10px auto 30px;
    line-height: 1.6;
  }
}

.articles-wrapper {
  display: flex;
  justify-content: center;
  width: unquote("max(90%, 324px)");
  margin: 0 auto;
}

.topic {
  position: relative;
  width: unquote("max(28%, 270px)");
  margin: 20px 15px;
  padding: 50px 40px 90px;
  border: 1px solid #bbb;

  .topic-icon {
    display: block;
    margin: 35px auto;
    color: #888;
    font-size: clamp(4rem, 3vw, 5rem);
    text-align: center;
  }
}

.topic-title {
  color: #666;
  font-size: clamp(2rem, 1.8vw, 2.8rem);
  text-align: center;
}

.topic-text {
  width: 85%;
  margin: 0 auto;
  color: #666;
  font-size: clamp(14px, 1.8vw, 16px);
  line-height: 1.5;
  letter-spacing: 1px;
}

.topic-btn {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  right: 25px;
  padding: 8px 15px;
  background: #ccc;
  border-radius: 2px;
  color: #444;
  font-size: clamp(14px, 1.5vw, 15.5px);
  text-decoration: none;
  letter-spacing: 1px;

  &:hover {
    color: var(--main-color);
  }
}

@media (max-width: 768px) {
  .articles-wrapper {
    flex-direction: column;
  }

  .topic {
    margin: 10px auto;
    padding: 30px 25px 70px;
  }

  .topic-text {
    margin: 20px auto 0;
  }

  .topic-btn {
    padding: 7px 13px;
  }
}

.photos-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin: 60px auto 40px;

  .img-wrapper {
    width: 23%;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .photos-wrapper {
    margin: 0 auto;
    width: 100%;

    .img-wrapper {
      width: 45%;
    }
  }
}
