.wrapper {
  position: relative;
  padding: 50px 10px 90px;
  width: 25%;
  border: 1px solid #bbb;
}

@media (width < 768px) {
  .wrapper {
    width: 75%;
  }
}

.title {
  color: #666;
  font-size: clamp(1.2rem, 2.3vw, 1.75rem);
  text-align: center;
}

.text {
  color: #666;
  line-height: 1.5;
  letter-spacing: 1px;
  width: 85%;
  margin: 0 auto;
}

.link {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 50px;
  color: var(--main-color);
  letter-spacing: 1px;
  padding: 8px 12px;
  background: #ccc;
}

.icon {
  display: block;
  color: #666;
  font-size: clamp(2rem, 2.9vw, 4.5rem);
  margin: 10px auto;
}
