.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--nav-height);
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 2;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
}

.navTitle {
  line-height: var(--nav-height);
  font-size: 2rem;
  letter-spacing: 3px;
}

@media (width < 768px) {
  .navTitle {
    display: none;
  }
}

.navList {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  padding: 0;
  list-style: none;
}

@media (width < 768px) {
  .navList {
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
}

.navLink {
  position: relative;
  height: 70px;
  line-height: 70px;
  color: #333;
  font-size: clamp(0.75rem, 1.9vw, 1.15rem);
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  transition: .15s;
}

.navLink:hover {
  color: var(--main-color);
}
