.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: var(--nav-height);
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 2;
}

@media (width < 768px) {
  .nav {
    overflow-x: scroll;
  }
}

.navTitle {
  margin-left: 100px;
  line-height: var(--nav-height);
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 3px;
}

.navList {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 3%;
  padding: 0;
  list-style: none;
}

.navLink {
  position: relative;
  height: 70px;
  line-height: 70px;
  color: #333;
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  transition: .15s;
}

.navLink:hover {
  color: var(--main-color);
}