.photoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 80px auto;
}

.dialog {
  position: fixed;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  padding: 0;
  max-width: none;
  max-height: none;
}

.dialog::backdrop {
  background-color: rgba(0,0,0, 0.95);
}

.swipeHandler {
  width: 100%;
  height: 100%;
}

.imageWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 60vh;
  transform: translate(-50%, -50%);
}

@media (width < 768px) {
  .imageWrapper {
    width: 90%;
  }
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  background-color: var(--dark-main-color);
  cursor: pointer;
  border: none;
  border-radius: 1px;
  color: #666;
  font-size: 2rem;
}

:is(.prevButton, .nextButton):hover {
  background-color: rgba(255, 0, 0, 0.28);
}

.prevButton {
  transform: translateY(-50%);
  left: 10px;
}

.nextButton {
  transform: translateY(-50%);
  right: 10px;
}

@media (width < 768px) {
  .prevButton,
  .nextButton {
    width: 50px;
    height: 50px;
  }
}

.closeButton {
  position: fixed;
  top: 35px;
  right: 20px;
  height: 70px;
  display: grid;
  place-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.closeButton::before,
.closeButton::after {
  grid-area: 1 / 1;
  content: "";
  display: block;
  width: 64px;
  height: 1.5px;
  background-color: #888;
  transition: 0.15s;
}

.closeButton::before {
  transform: rotate(45deg);
}

.closeButton::after {
  transform: rotate(-45deg);
}

.closeButton:hover::before,
.closeButton:hover::after {
  background-color: var(--dark-main-color);
}
