.section {
  margin: 60px auto;
  padding-top: calc(var(--nav-height) + 20px);
}

@media (width < 768px) {
  .section {
    margin: 0 auto;
  }
}

.sectionTitleParent {
  width: 90%;
  margin: 0 auto 60px;
  text-align: center;
}

.sectionTitle {
  position: relative;
  display: inline-block;
  font-size: clamp(1.8rem, 3.8vw, 4rem);
  font-weight: normal;
  letter-spacing: 4px;
  text-align: center;
}

.sectionTitle::before,
.sectionTitle::after {
  content: "◇";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-color);
  font-size: clamp(1rem, 3.3vw, 2.5rem);
}

.sectionTitle::before {
  left: -60px;
}

.sectionTitle::after {
  right: -60px;
}

@media (width < 768px) {
  .sectionTitle::before {
    left: -30px;
  }

  .sectionTitle::after {
    right: -30px;
  }
}

.intro {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: 30px auto 0;
}

.introText {
  margin: 10px auto;
  width: 45%;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  letter-spacing: 1px;
  line-height: 1.5;
  text-indent: 0.8rem;
}

@media (width < 768px) {
  .intro {
    flex-direction: column;
  }
  .introText {
    width: 95%;
  }
}

.articleWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media (width < 768px) {
  .articleWrapper {
    flex-direction: column;
    align-items: center;
  }
}
