.photoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px auto;
  width: 90%;
  height: 500px;
}

.dialog {
  position: relative;
  background-color: transparent;
  height: 100vh;
  width: 100vw;

  &::backdrop {
    background-color: rgba(0,0,0, 0.95);
  }
}

.imageWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 60vh;
  transform: translate(-50%, -50%);
}

.modalImage {
  border: 1px solid red;
}

.prevButton,
.nextButton {
  width: 80px;
  height: 80px;
  background-color: rgba(255, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: #444;
  font-size: 3rem;

  &:hover {
    background-color: rgba(255, 0, 0, 0.28);
  }
}

.prevButton {
  position: absolute;
  top: 50%;
  left: 10px;
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 10px;
}

.closeButton {
  position: absolute;
  top: 10vh;
  right: 10px;
  transform: translate(-50%);
  background-color: rgba(255, 0, 0, 0.3);
  border: none;
  border-radius: 100%;
  color: #444;
  font-size: 3rem;
  font-weight: 100;
  cursor: pointer;
}

.swipeHandler {
  border: 1px solid red;
  width: 100vw;
  height: 100vh;
}